body{
    background-color: rgb(55, 255, 0);
   color: rgb(255, 10, 10);
  }
  .heading{
      width: 80%;
      font-size: 23px;
  }
  #camera{
      border: 2px dashed black;
      width: 350px;
      height: 300px;
  }